bucket         = "sanared-empi-tfstate-REEMPLAZAR_ACCOUNT_ID"
key            = "stacks/30-gcp-analytics/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "sanared-empi-tflock"
encrypt        = true
